@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.header{
    background: #0f018b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    border-bottom: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border: 1px solid #000;
}

.header .logo a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
}


@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
}

.back{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/background1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    position: absolute;
    top: 40%;
    left: 7%;
    text-align: start;
}

.content h1{
    color: #fff;
    font-size: 3.5rem;
}

.content p{
    margin-top: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.content .button-btn{
    font-size: 22px;
    color: #fff;
    background: #ff7200;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);
    display: grid;
    place-content: center;
    transition: 0.2s;
}

.content .loader{
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

/* Scroll Down */

.intro{
    display: flex;
    padding: 50px;
    height: 0;
    width: 100%;
    color: #fff;
    margin-top: -100px;
    align-items: flex-end;
    justify-content: center;
    mix-blend-mode: lighten;
}

.scroll-btn{
    animation: bounce .9s;
    animation-duration: alternate;
    animation-timing-function: cubic-bezier(.5, .05, 1, .5);
    animation-iteration-count: infinite;
}

.intro .scroll-btn img{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

.intro .scroll-btn h2{
    font-size: 10px;
    color: #fff;
}

@keyframes bounce {
    from{
        transform:  translate(0, 10px);
        transition: .5s;
    }
    to {
        transform: translate(0, 20px);
    }
}

.products{
    background: url(../img/background2.jpg);
    padding: 20px;
    padding-bottom: 210px;
}

.heading{
    text-align: center;
    color: #1201af;
    padding-top: 50px;
    font-size: 30px;
}

.products .heading span{
    color: #ff7200;
}

/* Select Product Card */

.container{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: -120px;
}

.select-box{
    display: flex;
    width: 320px;
    flex-direction: column;
    transform:  translate(0%, -50%);
}

.select-box .options-container{
    background: #000;
    color: #fff;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.9s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected{
    background: #000;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #fff;
    position: relative;
    order: 0;
    font-size: 15px;
}

.selected::after{
    content: "";
    background: url("../img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar{
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected{
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover{
    background: #414b57;
}

.select-box label{
    cursor: pointer;
    font-size: 13px;
}

.select-box .option .radio{
    display: none;
}

/* Checkbox Button */

.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translate(170%, 150%);
    border: 2px solid #ff7200;
    margin: 20px;
    width: 250px;
    height: 42px;
    border-radius: 8px;
}

.checkbox-container label{
    cursor: pointer;
    display: flex;
    margin-left: 13px;
    font-size: 15px;
}

.checkbox-container input[type='checkbox']{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: .15em;
    margin-right: .5em;
    border: .05em solid #ff7200;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before{
    background-color: #eee;
}

.checkbox-container input[type='checkbox']:checked + label::before{
    content: '\002714';
    background-color: #ff7200;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Product Container */

.row .column {
    float: left;
    width: 30%;
    padding: 0 20px;
    margin-top: 30px;
    margin: 20px;
}

.row{
    margin: 0 -5px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.column .card{
    box-shadow: 0 3px 20px rgba(0,0,0,.35);
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.column .card img{
    padding: 3rem 5rem;
    height: 30rem;
    display: block;
    transition: 0.5s;
}

.column img:hover{
    transform: scale(1.1);
}

.column .card p{
    font-size: 18px;
    font-weight: 500;
}

.column .card h1{
    font-size: 22px;
    font-weight: 800;
}

.price{
    color: #ff7200;
}

/* Out of stock */

.column .card span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.column .card .not-available::before{
    content: 'Առկա չէ';
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.1em;
    position: absolute;
    width: 130px;
    height: 30px;
    background: rgb(180, 180, 180);
    color: #392cac;
    transform: rotate(0) translateY(-10px) translateX(13px);
    border-radius: 0 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.column .card span::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -1;
}

.search{
    margin: auto;
    position: relative;
    top: 0;
    left: 100%;
    width: 260px;
    height: 42px;
    border: 2px solid #ff7200;
    transform:  translate(-280%, 295%);
    padding: 8px 10px;
    border-radius: 8px;
}

.search-box{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search-box input{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 13px;
    font-family: "Nunito";
    color: #000;
    background: none;
    font-weight: 500;
}

.search-box input:focus{
    outline: none;
}

.search-box a{
    font-size: 18px;
    color: #1201af;
}

@media (max-width:1024px){
    .search{
        width: 180px;
        transform:  translate(-310%, 295%);
    }
    .checkbox-container{
        width: 200px;
        transform:  translate(160%, 150%);
    }
    .select-box{
        width: 200px;
    }
    .row .column {
        width: 45%;
    }
    .pagination{
        width: 510px;
        transform: translate(45%, 40%);
    }
}

@media (max-width:912px){
    .search{
        width: 180px;
        transform:  translate(-270%, 295%);
    }
    .checkbox-container{
        width: 200px;
        transform:  translate(120%, 150%);
    }
    .row .column {
        width: 50%;
        margin-left: 220px;
    }
    .pagination{
        width: 500px;
        transform: translate(35%, 40%);
    }
}

@media (max-width:900px){

    .search{
        width: 200px;
        transform:  translate(-230%, 295%);
    }
    .checkbox-container{
        width: 200px;
        transform:  translate(120%, 150%);
    }
    .row .column {
        width: 50%;
        margin-left: 200px;
    }
    .pagination{
        width: 500px;
        transform: translate(33%, 40%);
    }
}
@media (max-width:840px){
    .container{
        padding: 50px;
    }
    .search{
        margin-top: 100px;
        width: 180px;
        transform:  translate(-110%, 45%);
    }
    .checkbox-container{
        width: 180px;
        transform:  translate(-5%, 25%);
    }
    .row .column {
        width: 50%;
        margin-left: 170px;
    }
    .pagination{
        width: 500px;
        transform: translate(20%, 40%);
    }
}
@media (max-width:700px){
    .pagination{
        width: 500px;
        transform: translate(15%, 40%);
    }
}

@media (max-width:650px){
    .search{
        margin-top: 100px;
        width: 180px;
        transform:  translate(-110%, 45%);
    }
    .checkbox-container{
        width: 180px;
        transform:  translate(-5%, 25%);
    }
    .row .column {
        width: 65%;
        margin-left: 100px;
    }
    .pagination{
        width: 500px;
        transform: translate(7%, 40%);
    }
}

@media (max-width:570px){
    .row .column {
        width: 70%;
        margin-left: 80px;
    }
    .pagination{
        width: 370px;
        transform: translate(18%, 40%);
    }
    .pagination li.pageNumber{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .pagination li:first-child{
        margin-right: 15px;
        font-weight: 700;
        font-size: 10px;
    }
    
    .pagination li:last-child{
        margin-left: 15px;
        font-weight: 700;
        font-size: 10px;
    }
}

@media (max-width:490px){
    .row .column {
        width: 75%;
        margin-left: 60px;
    }
    .pagination{
        width: 370px;
        transform: translate(3%, 40%);
    }
}

@media (max-width:412px){
    html{
        font-size: 50%;
    }
    .back{
        min-height: 100vh;
    }
    .content h1{
        font-size: 3rem;
    }
    .content p{
        font-size: 1.2rem;
    }
    .content .button-btn{
        font-size: 17px;
        width: 140px;
        height: 45px;
    }
    .search{
        margin-top: -50px;
        width: 180px;
        transform:  translate(-136%, -120%);
    }
    .select-box{
        width: 250px;
        transform:  translate(-6%, 40%);
    }
    .checkbox-container{
        margin-top: -20px;
        width: 180px;
        transform:  translate(10%, 0%);
    }
    .row .column {
        width: 80%;
        margin-left: 25px;
        margin-top: 200px;
    }
    .pagination{
        width: 338px;
        transform: translate(-2%, 40%);
    }
}

@media (max-width:375px){
    .back{
        min-height: 100vh;
    }
    .content h1{
        font-size: 3rem;
    }
    .content p{
        font-size: 1.2rem;
    }
    .content .button-btn{
        font-size: 15px;
        width: 130px;
        height: 40px;
    }
    .container{
        padding: 40px;
        margin-left: 22px;
    }
    .search{
        margin-top: -70px;
        width: 180px;
        transform:  translate(-134%, 10%);
    }
    .select-box{
        width: 250px;
        transform:  translate(-5%, 40%);
    }
    .checkbox-container{
        margin-top: 20px;
        width: 180px;
        transform:  translate(0%, 0%);
    }
    .row .column {
        width: 90%;
        margin-left: 20px;
    }
}

@media (max-width:360px){
    .search{
        transform:  translate(-122%, 10%);
    }
    .row .column {
        width: 100%;
        margin-left: 1px;
    }
    .pagination{
        width: 338px;
        transform: translate(-5%, 40%);
    }
}

/* In stock */

.column .card h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.column .card .available::before{
    content: 'Առկա է';
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.1em;
    position: absolute;
    width: 130px;
    height: 30px;
    background: #ff7200;
    color: #fff;
    transform: rotate(0) translateY(-10px) translateX(13px);
    border-radius: 0 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.column .card h2::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: -1;
}

/* Back & Next */

ul{
    width: 510px;
    position: relative;
    background: #fff;
    display: flex;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 5px 15px #000;
    align-items: center;
    justify-content: center;
    transform: translate(70%, 40%);
}

ul li{
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
}

ul li.pageNumber{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

ul li a{
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border-radius: 50%;
}

ul li.pageNumber:hover a,
ul li.pageNumber.active a{
    background: #ff7200;
    color: #fff;
}

ul li:first-child{
    margin-right: 30px;
    font-weight: 700;
    font-size: 15px;
}

ul li:last-child{
    margin-left: 30px;
    font-weight: 700;
    font-size: 15px;
}

/* footer */

.footer{
    background: #0f018b;
    text-align: center;
    border: 1px solid #000;
}

.footer h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: rgb(197, 197, 197);
    padding: 10px;
    margin-top: 60px;
}

.footer p{
    font-size: 1.5rem;
    color: #ff7200;
}

.footer .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    place-items: center;
    margin: 0 5px;
    margin-top: 30px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.footer .button:hover{
    width: 180px;
}

.footer .button .icon{
    display: inline-block;
    align-items: center;
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.footer .button:nth-child(1):hover .icon{
    background: #fff;
}

.footer .button .icon i{
    font-size: 25px;
    line-height: 60px;
    color: #0f018b;
    transition: all 0.3s ease-out;
}

.footer .button span{
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.copyright p{
    margin-top: 0px;
    padding: 50px;
    color: #fff;
    justify-content: flex-start;
}
