<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
{% block body %}

    {% block header %}
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('main.index') }}">Robo Shop</a>
        </div>
        <div class="icons">
            <div class="icon facebook">
                <div class="tooltip">Facebook</div>
                <span><i class="fab fa-facebook-f"></i></span>
            </div>
            <div class="icon instagram">
                <div class="tooltip">Instagram</div>
                <span><i class="fab fa-instagram"></i></span>
            </div>
            <div class="icon envelope">
                <div class="tooltip">Gmail</div>
                <span><i class="fa-regular fa-envelope"></i></span>
            </div>
            <div class="icon phone">
                <div class="tooltip">093000000</div>
                <span><i class="fa-solid fa-phone"></i></span>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %}
    <section class="footer">
        <h3>Robo Shop</h3>
        <p>About us:</p>
        <div class="wrapper">
            <div class="icon facebook">
                <div class="tooltip">Facebook</div>
                <span><i class="fab fa-facebook-f"></i></span>
            </div>
            <div class="icon instagram">
                <div class="tooltip">Instagram</div>
                <span><i class="fab fa-instagram"></i></span>
            </div>
            <div class="icon envelope">
                <div class="tooltip">Gmail</div>
                <span><i class="fa-regular fa-envelope"></i></span>
            </div>
            <div class="icon phone">
                <div class="tooltip">+3740000000</div>
                <span><i class="fa-solid fa-phone"></i></span>
            </div>
        </div>

        <div class="copyright">
            <p>© 2023 RoboShop. All Rights Reserved.</p>
        </div>
    </section>
    {% endblock %}

{% endblock %}

{% block javascript %} {% endblock %}
</body>
</html>
