<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
{% block body %}

    {% block header %}
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('main.index') }}">Robo Shop</a>
        </div>
    </header>
    {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %}
    <section class="footer">
        <h3>Online Market</h3>
        <p>About us:</p>
        <div class="button">
            <div class="icon">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <span>Facebook</span>
        </div>
        <div class="button">
            <div class="icon">
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <span>Message</span>
        </div>
        <div class="button">
            <div class="icon">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <span>Instagram</span>
        </div>
        <div class="button">
            <div class="icon">
                <a href="#"><i class="fa-solid fa-phone"></i></a>
            </div>
            <span>094000000</span>
        </div>
        <div class="button">
            <div class="icon">
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <span>YouTube</span>
        </div>

        <div class="copyright">
            <p>© 2023 RoboShop. All Rights Reserved.</p>
        </div>
    </section>
    {% endblock %}

{% endblock %}

{% block javascript %} {% endblock %}
</body>
</html>
