{% extends "base.html" %}
{% block title %}RoboShop{% endblock %}

{% block content %}
<div class="back"></div>

<div class="content" data-aos="fade-right">
    <h1>Բարի Գալուստ<br><span> Ռոբոտաշինության աշխարհ</span></h1>
    <p>Կայքում կարող եք գտնել և գնել Ձեզ անհրաժեշտ ապրանքները
        <br>ցանկացած ռոբոտ կամ սարք պատրաստելու համար:
        <br>Մաղթում ենք Ձեզ բարի գնումներ...</p>
    <button class="button-btn">Գնել</button>
</div>

<div class="intro">
    <a href="#products" title="" class="scroll-btn">
        <img src="{{ url_for('static', filename='img/scroll-btn.jpg') }}" alt="">
        <h2>Տեսնել ապրանքները</h2>
    </a>
</div>

<section class="products" id="products">
    <h1 class="heading">Ռոբոտաշինական <span>ապրանքներ</span></h1>

    <form action="{{url_for('main.index')}}" method="get" id="filter-form">
        <div class="container">
            <div class="select-box">
                <div class="search">
                    <table class="search-box">
                        <tr>
                            <td>
                                <input type="text" id="searchInput" name="search" placeholder="Փնտրել..." {% if search %}value="{{ search }}"{% endif %} />
                            </td>
                            <td>
                                <button><i class="fas fa-search"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="options-container" id="categorySelect">
                    <div class="option">
                        <input type="radio" class="radio" id="All" name="category_id" value="0" {% if category_id == 0 %}checked{% endif %} />
                        <label for="All">Բոլորը</label>
                    </div>
                    {% for category in categories %}
                    <div class="option">
                        <input type="radio" class="radio" id="{{ category.name }}" name="category_id" value="{{ category.id }}" {% if category_id == category.id %}checked{% endif %} />
                        <label for="{{ category.name }}">{{ category.name }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="availabilitySelect" name="availability" {% if availability == 'on' %}checked{% endif %} />
                    <label for="availabilitySelect">Միայն առկաները</label>
                </div>

                <div class="selected">
                    {% if category_id == None %}
                    Select Product Cards
                    {% else %}
                        {% if category_id == 0 %}
                        Բոլորը
                        {% else %}
                            {% for category in categories %}
                                {% if category_id == category.id %}
                                {{ category.name }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

    <!-- Product Cards -->
    <div class="all-products">
        {% for product in products %}
        <div class="product">
            {% if product.amount %}
            <h2></h2>
            {% else %}
            <h1></h1>
            {% endif %}
            {% if product.image %}
            <img src="{{ url_for('static', filename='img/uploads/' + product.image) }}" alt="{{ product.name }}" />
            {% else %}
            <img src="{{ url_for('static', filename='img/default_image.jpg') }}" alt="{{ product.name }}" />
            {% endif %}
            <div class="product-info">
                <h4 class="product-title">{{ product.category.name }}</h4>
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-price">{{ product.price }} &#x058f;</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Bar -->
    {% if pagination.pages %}
    <div class="pagination">
      <ul>
        {% if pagination.has_prev %}
          <li class="btn prev">
            <a href="{{ url_for('main.index', page=pagination.prev_num, category_id=category_id, availability=availability, search=search) }}">
              <span><i class="fas fa-angle-left"></i> Նախորդ</span>
            </a>
          </li>
        {% endif %}

        {% if pagination.page > 3 %}
          <li class="first numb">
            <a href="{{ url_for('main.index', page=1, category_id=category_id, availability=availability, search=search) }}">
              <span>1</span>
            </a>
          </li>
          <li class="dots">
            <span>...</span>
          </li>
        {% endif %}

        {% if pagination.page > 1 %}
          <li class="numb">
            <a href="{{ url_for('main.index', page=pagination.page-1, category_id=category_id, availability=availability, search=search) }}">
              <span>{{ pagination.page - 1 }}</span>
            </a>
          </li>
        {% endif %}

        <li class="numb active">
          <a href="{{ url_for('main.index', page=pagination.page, category_id=category_id, availability=availability, search=search) }}">
            <span>{{ pagination.page }}</span>
          </a>
        </li>

        {% if pagination.page < pagination.pages %}
          <li class="numb">
            <a href="{{ url_for('main.index', page=pagination.page+1, category_id=category_id, availability=availability, search=search) }}">
              <span>{{ pagination.page + 1 }}</span>
            </a>
          </li>
        {% endif %}

        {% if pagination.page < pagination.pages - 2 %}
          <li class="dots">
            <span>...</span>
          </li>
          <li class="last numb">
            <a href="{{ url_for('main.index', page=pagination.pages, category_id=category_id, availability=availability, search=search) }}">
              <span>{{ pagination.pages }}</span>
            </a>
          </li>
        {% endif %}

        {% if pagination.page < pagination.pages %}
          <li class="btn next">
            <a href="{{ url_for('main.index', page=pagination.page+1, category_id=category_id, availability=availability, search=search) }}">
              <span>Հաջորդ <i class="fas fa-angle-right"></i></span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
</section>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>

<script type="text/javascript">
    AOS.init({
        offset: 200,
        duration: 1200,
    });
 </script>
{% endblock %}
