{% extends "base.html" %}
{% block title %}RoboShop{% endblock %}

{% block content %}
<div class="back"></div>

<div class="content" data-aos="fade-right">
    <h1>Welcome to Online Market</h1>
    <p>Ստեղ կարա լինի կայքի վերաբերյալ փոքր տեքստ</p>

    <button class="button-btn">Գնել</button>

</div>

<div class="intro">
    <a href="#products" title="" class="scroll-btn">
        <img src="{{ url_for('static', filename='img/scroll-btn.jpg') }}" alt="">
        <h2>Scroll down for shoping</h2>
    </a>
</div>

<section class="products" id="products">
    <h1 class="heading"> Ռոբոտաշինական <span>ապրանքներ</span></h1>

    <form action="{{url_for('main.index')}}" method="get" id="filter-form">
        <div class="container">
            <div class="select-box">
                <div class="search">
                    <table class="search-box">
                        <tr>
                            <td>
                                <input type="text" id="searchInput" name="search" placeholder="Search..." {% if search %}value="{{ search }}"{% endif %} />
                            </td>
                            <td>
                                <a href="" id="search"><i class="fas fa-search"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="options-container" id="categorySelect">
                    <div class="option">
                        <input type="radio" class="radio" id="All" name="category_id" value="0" {% if category_id == 0 %}checked{% endif %} />
                        <label for="All">Բոլորը</label>
                    </div>
                    {% for category in categories %}
                    <div class="option">
                        <input type="radio" class="radio" id="{{ category.name }}" name="category_id" value="{{ category.id }}" {% if category_id == category.id %}checked{% endif %} />
                        <label for="{{ category.name }}">{{ category.name }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="availabilitySelect" name="availability" {% if availability == 'on' %}checked{% endif %} />
                    <label for="availabilitySelect">Միայն առկաները</label>
                </div>

                <div class="selected">
                    {% if category_id == None %}
                    Select Product Cards
                    {% else %}
                        {% if category_id == 0 %}
                        Բոլորը
                        {% else %}
                            {% for category in categories %}
                                {% if category_id == category.id %}
                                {{ category.name }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

    <!-- Product Cards -->
    <div class="row">
        {% for product in products %}
        <div class="column">
            <div class="card">
                {% if product.amount %}
                <span class="available"></span>
                {% else %}
                <span class="not-available"></span>
                {% endif %}
                {% if product.image %}
                <img src="{{ url_for('static', filename='img/uploads/' + product.image) }}" class="card-img-top" alt="{{ product.name }}" style="width:100%" />
                {% else %}
                <img src="{{ url_for('static', filename='img/default_image.jpg') }}" class="card-img-top" alt="{{ product.name }}" style="width:100%" />
                {% endif %}
                <p>{{ product.category.name }}</p>
                <h1>{{ product.name }}</h1>
                <p class="price">{{ product.price }} &#x058f;</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination Bar -->
    <ul class="pagination">
        {% if pagination.has_prev %}
        <li><a href="{{ url_for('main.index', page=pagination.prev_num, category_id=category_id, availability=availability, search=search) }}" class="prev">Prev</a></li>
        {% endif %}

        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page == pagination.page %}
            <li class="pageNumber active"><a href="{{ url_for('main.index', page=page, category_id=category_id, availability=availability, search=search) }}">{{ page }}</a></li>
            {% else %}
            <li class="pageNumber"><a href="{{ url_for('main.index', page=page, category_id=category_id, availability=availability, search=search) }}">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li><span>...</span></li>
          {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <li><a href="{{ url_for('main.index', page=pagination.next_num, category_id=category_id, availability=availability, search=search) }}" class="next">Next</a></li>
        {% endif %}
    </ul>
</section>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>

<script type="text/javascript">
    AOS.init({
        offset: 200,
        duration: 1200,
    });

    console.log("category_id: {{ category_id }}");
    console.log("page: {{ page }}");
    console.log("availability: {{ availability }}");
    console.log("search: {{ search }}");
 </script>
{% endblock %}
